/**
*Table of content
*
*01-Components- Styling for the different component
*02-Layout- Generic styling for mobile, desktop and tablet.
*/

@import '../scss/layout/base';

$styled-font: 'Playfair Display', serif;
$normal-font: 'Open Sans', sans-serif;

$primary-almost-white: #fff9ef;
$primary-black: #333333;
$primary-orange: #f6785f;
$secondary-dark: #6f6c66;
$secondary-light: #f0ede9;

/*

newsContainer
    -newsTextBox
        -newsHeader
        -newsText
    -newsImgBox
footerContainer
    -footerLogo
    -footerMenuColumns
        -footerMenuCategories
        -footerMenuOptions
    -footerSubscribeBox
        -footerSubscribe
            -footerHeader
            -footerInput
        -footerSoMeIcons


*For desktop & tablet view
*/
