/**
*Table of content
*
*01-Components- Styling for the different component
*02-Layout- Generic styling for mobile, desktop and tablet.
*/

$styled-font: 'Playfair Display', serif;
$normal-font: 'Open Sans', sans-serif;

$primary-almost-white: #fff9ef;
$primary-black: #333333;
$primary-orange: #f6785f;
$secondary-dark: #6f6c66;
$secondary-light: #f0ede9;

@import '../scss/layout/base';
@import '../scss/components/landingpage/navbar';
@import '../scss/components/landingpage/textBox';
