/* Mobile view main styling */
html,
body {
  margin: 0px;
  box-sizing: border-box;
  background-color: $primary-almost-white;
  font-family: $normal-font;

  .gridWrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 3004px;
    min-width: 390px;
    // height: 3004px;
  }
  .landingpageContainer {
    height: 100vh;
    width: 100%;
    margin-bottom: $mobile-margin;
    background-image: url('/imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  // .productsContainer {
  //   // margin-bottom: $mobile-margin;
  // }
  .mediaBannerContainer {
    margin-bottom: $mobile-margin;
  }
  .newsContainer {
    margin-bottom: $mobile-margin;
  }
  .footerContainer {
    background-color: $primary-black;
  }
}
