/* Mobile view main styling */
html,
body {
  margin: 0px;
  box-sizing: border-box;
  background-color: $primary-almost-white;
  font-family: $normal-font;

  .gridWrapper {
    display: flex;
    flex-flow: column nowrap;
    min-width: 390px;
  }
  .landingpageContainer {
    height: 100vh;
    min-height: 560px;
    width: 100%;
    margin-bottom: $mobile-margin;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .productsContainer {
    margin: 20px 0px 0px 25px;
  }
  .mediaBannerContainer {
    margin-bottom: $mobile-margin;
    background-image: url('../imgs/media-banner-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 136px;
    width: 100%;
    max-width: 1588px;
  }
  .newsContainer {
    @include flexCenter;
    margin: 0px 25px $mobile-margin 25px;
    flex-flow: column nowrap;
  }
  .footerContainer {
    background-color: $primary-black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
