.mediaBannerTextBox {
  width: 38%;
  min-width: 150px;
  margin-left: 9%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .mediaBannerHeader {
    font-size: 17px;
    text-align: center;
  }
  .mediaBannerText {
    display: none;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: $primary-black;
    margin: 0px 0px 20px 0px;
  }
  .mediaBannerBtn {
    width: 150px;
    height: 35px;
    box-shadow: 2px 2px 3px #00000029;
    font-family: $normal-font;
    font-size: 15px;
    color: $primary-black;
    background-color: $primary-almost-white;
    border: 1px solid $secondary-dark;
    cursor: pointer;

    &:hover,
    :active,
    :disabled {
      background-color: $secondary-light;
    }
    &:active {
      border: none;
    }
    &:disabled {
      opacity: 40%;
    }
  }
}
