/* navbar component styling */
.navWrapper {
  position: fixed;
  width: 100%;
  height: 80px;
  background: none;
}
.scroll {
  background: rgb(255, 249, 239);
  background: linear-gradient(
    180deg,
    rgba(255, 249, 239, 1) 40%,
    rgba(255, 249, 239, 0.4) 100%
  );
}

.navbar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 20px 25px 0px 25px;
  height: 42px;
  .navLogo {
    width: 72px;
  }
  .iconsBox {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-heart {
      color: $primary-black;
      font-size: 27px;
      &:hover {
        color: #bfbfbe;
      }
      &:active {
        color: $primary-orange;
      }
    }
    .fa-shopping-basket {
      color: $primary-black;
      height: 27px;
      margin-left: 10px;
      margin-right: 10px;
      &:hover {
        path {
          fill: #bfbfbe;
        }
      }
      &:active {
        path {
          fill: $primary-orange;
        }
      }
    }
    .menuBtn {
      .btnToggle {
        display: block;
        position: relative;
        top: 5px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        .checkbox {
          display: block;
          width: 30px;
          height: 30px;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          -webkit-touch-callout: none;
          &:hover ~ span {
            background-color: #bfbfbe;
          }
          &:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, -1px);
            background: #232323;
          }
          &:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
          &:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(2px, -1px);
          }
          &:checked ~ ul {
            transform: translate(-100%, 0%);
          }
        }
        span {
          display: block;
          width: 29px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: $primary-orange;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
        .insideMenu {
          list-style: none;
          text-align: center;
          position: absolute;
          width: 100vw;
          margin: -100px 0 70px 70px;
          padding-top: 125px;
          padding-bottom: 50px;
          background: $primary-almost-white;
          -webkit-font-smoothing: antialiased;
          transform-origin: 0% 0%;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          .menuTitle {
            padding: 10px 0px;
            font-size: 22px;
            font-family: $normal-font;
            font-weight: lighter;
            a {
              text-decoration: none;
              color: $primary-black;
              transition: color 0.3s ease;
              &:hover {
                color: #f6785fbf;
              }
            }
          }
        }
      }
    }

    // .fa-bars {
    //   color: $primary-orange;
    //   font-size: 28px;
    //   &:hover {
    //     line {
    //       stroke:
    //     }
    //   }
    //   &:active {
    //     line {
    //       stroke: #f6785f80;
    //     }
    //   }
    // }

    .logInBtn {
      display: none;
      align-items: center;
      justify-content: center;
      width: 87px;
      height: 35px;
      background-color: $primary-orange;
      box-shadow: 2px 2px 3px #00000029;
      border-radius: 5px;
      border: 0px;
      cursor: pointer;

      &:hover {
        background-color: #f6785fbf;
      }
      &:active {
        background-color: #f6785f80;
      }
      &:disabled {
        background-color: #f6785f52;
      }
      .logInText {
        font-family: $normal-font;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .navbarMenu {
    display: none;
    width: 45%;
    max-width: 736px;
    list-style: none;
    padding: 0px;
    justify-content: space-between;
    .menuText {
      text-decoration: none;
      font-family: $normal-font;
      font-weight: lighter;
      font-size: 17px;
      color: $primary-black;
      &:hover {
        color: #bfbfbe;
      }
      &:active {
        color: $primary-orange;
      }
    }
  }
}
