.landingpageTextBox {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 186px 25px 0px 25px;
  .landingpageHeader {
    color: $primary-black;
    font-family: $styled-font;
    font-weight: normal;
    font-size: 45px;
    min-width: 310px;
    width: 79%;
    margin: 7px;
  }
  .landingpageSubheader {
    margin: 0px;
    color: $primary-black;
    font-weight: 300;
    font-size: 20px;
    width: 85%;
    min-width: 340px;
  }
  .landingpageBtn {
    font-family: $normal-font;
    font-size: 20px;
    color: #ffffff;
    margin-top: 40px;
    width: 179px;
    height: 43px;
    background-color: $primary-orange;
    box-shadow: 2px 2px 3px #00000029;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;

    &:hover {
      background-color: #f6785fbf;
    }
    &:active {
      background-color: #f6785f80;
    }
    &:disabled {
      background-color: #f6785f52;
    }
  }
}
